{
  "openapi": "3.0.3",
  "info": {
    "title": "Auth Service API",
    "version": "1.0.0",
    "description": "SSO/OIDC provider for Codevertex platform. Demo: admin@demo.codevertexafrica.com / DemoAdmin2024!"
  },
  "servers": [
    { "url": "https://sso.codevertexafrica.com", "description": "Production (default)" },
    { "url": "https://auth.codevertex.local:4101", "description": "Local development (HTTPS)" }
  ],
  "tags": [
    { "name": "Auth", "description": "Registration, login, session, password reset, and self-service MFA." },
    { "name": "OAuth", "description": "OAuth/OIDC authorization code flow and social login." },
    { "name": "Discovery", "description": "OIDC discovery and JWKS endpoints." },
    { "name": "Health", "description": "Service health check." },
    { "name": "Admin", "description": "Platform-admin-only tenant, client, and entitlement management." }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": { "type": "http", "scheme": "bearer", "bearerFormat": "JWT" }
    },
    "schemas": {
      "RegisterRequest": {
        "type": "object",
        "properties": {
          "email": { "type": "string", "example": "user@example.com" },
          "password": { "type": "string", "example": "StrongPassw0rd!" },
          "tenant_slug": { "type": "string", "example": "codevertex" }
        },
        "required": ["email","password","tenant_slug"]
      },
      "LoginRequest": {
        "type": "object",
        "properties": {
          "email": { "type": "string", "example": "admin@demo.codevertexafrica.com" },
          "password": { "type": "string", "example": "DemoAdmin2024!" },
          "tenant_slug": { "type": "string", "example": "codevertex-demo" }
        },
        "required": ["email","password","tenant_slug"]
      },
      "PasswordResetRequest": {
        "type": "object",
        "properties": {
          "email": { "type": "string", "example": "user@example.com" },
          "tenant_slug": { "type": "string", "example": "codevertex" }
        },
        "required": ["email","tenant_slug"]
      },
      "PasswordResetConfirm": {
        "type": "object",
        "properties": {
          "token": { "type": "string", "example": "reset-token" },
          "new_password": { "type": "string", "example": "NewStrongPassw0rd!" }
        },
        "required": ["token","new_password"]
      }
    }
  },
  "security": [ { "bearerAuth": [] } ],
  "paths": {
    "/healthz": {
      "get": {
        "tags": ["Health"],
        "summary": "Health check",
        "description": "Returns service health status",
        "responses": {
          "200": {
            "description": "Service is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string", "example": "ok" },
                    "time": { "type": "string", "format": "date-time" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/register": { "post": { "tags": ["Auth"], "summary": "Register", "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/RegisterRequest" } } } }, "responses": { "201": { "description": "Created" } } } },
    "/api/v1/auth/login": {
      "post": {
        "tags": ["Auth"],
        "summary": "Login",
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/LoginRequest" } } }
        },
        "responses": { "200": { "description": "OK" } }
      }
    },
    "/api/v1/auth/refresh": {
      "post": {
        "tags": ["Auth"],
        "summary": "Refresh token",
        "requestBody": {
          "required": true,
          "content": { "application/json": {
            "schema": { "type": "object", "properties": { "refresh_token": { "type": "string", "example": "..." } }, "required": ["refresh_token"] }
          } }
        },
        "responses": { "200": { "description": "OK" } }
      }
    },
    "/api/v1/auth/password-reset/request": { "post": { "tags": ["Auth"], "summary": "Request password reset", "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/PasswordResetRequest" } } } }, "responses": { "200": { "description": "OK" } } } },
    "/api/v1/auth/password-reset/confirm": { "post": { "tags": ["Auth"], "summary": "Confirm password reset", "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/PasswordResetConfirm" } } } }, "responses": { "200": { "description": "OK" } } } },
    "/api/v1/auth/me": {
      "get": { "tags": ["Auth"], "summary": "Current user", "security": [ { "bearerAuth": [] } ], "responses": { "200": { "description": "OK" } } }
    },
    "/api/v1/auth/logout": { "post": { "tags": ["Auth"], "summary": "Logout", "security": [ { "bearerAuth": [] } ], "responses": { "204": { "description": "No Content" } } } },
    "/api/v1/auth/mfa/totp/start": { "post": { "tags": ["Auth"], "summary": "MFA TOTP start", "security": [ { "bearerAuth": [] } ], "responses": { "200": { "description": "OK" } } } },
    "/api/v1/auth/mfa/totp/confirm": { "post": { "tags": ["Auth"], "summary": "MFA TOTP confirm", "security": [ { "bearerAuth": [] } ], "responses": { "200": { "description": "OK" } } } },
    "/api/v1/auth/mfa/backup-codes/regenerate": { "post": { "tags": ["Auth"], "summary": "MFA backup codes regenerate", "security": [ { "bearerAuth": [] } ], "responses": { "200": { "description": "OK" } } } },
    "/api/v1/auth/mfa/backup-codes/consume": { "post": { "tags": ["Auth"], "summary": "MFA backup codes consume", "security": [ { "bearerAuth": [] } ], "responses": { "200": { "description": "OK" } } } },
    "/api/v1/auth/oauth/google/start": { "post": { "tags": ["OAuth"], "summary": "Google OAuth start", "responses": { "200": { "description": "OK" } } } },
    "/api/v1/auth/oauth/google/callback": { "get": { "tags": ["OAuth"], "summary": "Google OAuth callback", "responses": { "200": { "description": "OK" } } } },
    "/api/v1/auth/oauth/github/start": { "post": { "tags": ["OAuth"], "summary": "GitHub OAuth start", "responses": { "200": { "description": "OK" } } } },
    "/api/v1/auth/oauth/github/callback": { "get": { "tags": ["OAuth"], "summary": "GitHub OAuth callback", "responses": { "200": { "description": "OK" } } } },
    "/api/v1/auth/oauth/microsoft/start": { "post": { "tags": ["OAuth"], "summary": "Microsoft OAuth start", "responses": { "200": { "description": "OK" } } } },
    "/api/v1/auth/oauth/microsoft/callback": { "get": { "tags": ["OAuth"], "summary": "Microsoft OAuth callback", "responses": { "200": { "description": "OK" } } } },
    "/api/v1/auth/integrations/active": {
      "get": {
        "tags": ["Auth"],
        "summary": "List active integrations (public)",
        "description": "Returns platform-level and tenant-scoped integrations that are currently active. Used by auth-ui login/signup pages to render only the OAuth providers configured in auth-api.",
        "parameters": [
          { "name": "tenant_slug", "in": "query", "required": false, "schema": { "type": "string" }, "description": "Optional tenant slug to include tenant-scoped integrations in addition to platform-level ones." },
          { "name": "category", "in": "query", "required": false, "schema": { "type": "string", "enum": ["oauth"] }, "description": "Filter by integration category. Currently only 'oauth' is recognised; omit to return all." }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": { "type": "string", "example": "google" },
                      "display_name": { "type": "string", "example": "Google OAuth" },
                      "category": { "type": "string", "example": "oauth" },
                      "logo_slug": { "type": "string", "example": "google" },
                      "brand_color": { "type": "string", "example": "#4285F4" }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/.well-known/openid-configuration": {
      "get": { "tags": ["Discovery"], "summary": "OIDC discovery", "responses": { "200": { "description": "OK" } } }
    },
    "/api/v1/.well-known/jwks.json": {
      "get": { "tags": ["Discovery"], "summary": "JWKS", "responses": { "200": { "description": "OK" } } }
    },
    "/api/v1/authorize": { "get": { "tags": ["OAuth"], "summary": "Authorization endpoint (requires auth)", "security": [ { "bearerAuth": [] } ], "responses": { "302": { "description": "Redirect with code" } } } },
    "/api/v1/token": {
      "post": { "tags": ["OAuth"], "summary": "Token endpoint", "responses": { "200": { "description": "OK" } } }
    },
    "/api/v1/userinfo": {
      "get": { "tags": ["OAuth"], "summary": "Userinfo (requires auth)", "security": [ { "bearerAuth": [] } ], "responses": { "200": { "description": "OK" } } }
    },
    "/api/v1/admin/tenants": {
      "get": { "tags": ["Admin"], "summary": "List tenants", "security": [ { "bearerAuth": [] } ], "responses": { "200": { "description": "OK" } } },
      "post": { "tags": ["Admin"], "summary": "Create tenant", "security": [ { "bearerAuth": [] } ], "responses": { "201": { "description": "Created" } } }
    },
    "/api/v1/admin/clients": {
      "get": { "tags": ["Admin"], "summary": "List clients", "security": [ { "bearerAuth": [] } ], "responses": { "200": { "description": "OK" } } },
      "post": { "tags": ["Admin"], "summary": "Create client", "security": [ { "bearerAuth": [] } ], "responses": { "201": { "description": "Created" } } }
    },
    "/api/v1/admin/entitlements": {
      "get": { "tags": ["Admin"], "summary": "List entitlements", "security": [ { "bearerAuth": [] } ], "responses": { "200": { "description": "OK" } } },
      "post": { "tags": ["Admin"], "summary": "Upsert entitlement", "security": [ { "bearerAuth": [] } ], "responses": { "200": { "description": "OK" } } }
    },
    "/api/v1/admin/usage/increment": {
      "post": { "tags": ["Admin"], "summary": "Increment usage metric", "security": [ { "bearerAuth": [] } ], "responses": { "200": { "description": "OK" } } }
    },
    "/api/v1/admin/keys/rotate": {
      "post": { "tags": ["Admin"], "summary": "Rotate signing keys", "security": [ { "bearerAuth": [] } ], "responses": { "204": { "description": "No Content" } } }
    }
  }
}
